@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Permanent+Marker&display=swap");
* {
  padding: 0;
  margin: 0;
}

header .head {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1px;
  height: 28px;
  border: 2px black;
  border-style: double;
  background-color: black;
}
header .head h2 {
  padding: 5px;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 15px;
  text-align: center;
}
header .head .redes {
  display: inline-flex;
}
header .head .redes .facebook {
  padding: 2px;
  font-size: 25px;
  color: blue;
}
header .head .redes .instagram {
  padding: 2px;
  font-size: 25px;
  color: red;
}
header .head .redes .whatsapp {
  padding: 2px;
  font-size: 25px;
  color: green;
}
header h1 {
  font-size: 60px;
  text-align: center;
  font-family: "Permanent Marker", cursive;
}

.navp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}
.navp nav a {
  color: black;
  padding: 20px;
  font-family: "Fredoka One", cursive;
  text-decoration: none;
}

.bannerp {
  display: grid;
  grid-column: 100%;
  grid-row: 1180px;
  margin: 50px;
  height: 200px;
  background-image: url(/multimedia/bannerp.jpg);
  background-position: center;
  background-size: cover;
}

.sections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h3 {
  font-size: 50px;
  color: darkgoldenrod;
}

.navs {
  display: flex;
  flex-direction: column;
}
.navs a {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
  padding: 10px;
  text-decoration: none;
}
.navs a:hover {
  color: darkgoldenrod;
}

.color {
  display: flex;
  flex-direction: column;
}
.color a {
  padding: 2px;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 10px;
  text-decoration: none;
}

.negro {
  margin-top: 50px;
  border: 1px solid;
  border-color: black;
  text-align: center;
  width: 150px;
  height: 27px;
  background-color: black;
}
.negro a {
  color: white;
}
.negro a:hover {
  color: darkgoldenrod;
}

.blanco {
  margin-top: 50px;
  border: 1px solid;
  border-color: black;
  text-align: center;
  width: 150px;
  height: 27px;
  background-color: white;
}
.blanco a {
  color: black;
}
.blanco a:hover {
  color: darkgoldenrod;
}

.azul {
  margin-top: 50px;
  border: 1px solid;
  border-color: black;
  text-align: center;
  width: 150px;
  height: 27px;
  background-color: blue;
}
.azul a {
  color: rgb(255, 217, 0);
}
.azul a:hover {
  color: darkgoldenrod;
}

.rojo {
  margin-top: 50px;
  border: 1px solid;
  border-color: black;
  text-align: center;
  width: 150px;
  height: 27px;
  background-color: red;
}
.rojo a {
  color: rgb(0, 174, 255);
}
.rojo a:hover {
  color: darkgoldenrod;
}

.verde {
  margin-top: 50px;
  border: 1px solid;
  border-color: black;
  text-align: center;
  width: 150px;
  height: 27px;
  background-color: green;
}
.verde a {
  color: rgba(165, 54, 54, 0.712);
}
.verde a:hover {
  color: darkgoldenrod;
}

.naranja {
  margin-top: 50px;
  border: 1px solid;
  border-color: black;
  text-align: center;
  width: 150px;
  height: 27px;
  background-color: orange;
}
.naranja a {
  color: rgb(0, 255, 106);
}
.naranja a:hover {
  color: darkgoldenrod;
}

.gris {
  margin-top: 50px;
  border: 1px solid;
  border-color: black;
  text-align: center;
  width: 150px;
  height: 27px;
  background-color: grey;
}
.gris a {
  color: black;
}
.gris a:hover {
  color: darkgoldenrod;
}

.galeria1 {
  width: 75%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 600px 600px 600px 600px 600px;
}

.item {
  margin: 10px;
}

.item1 {
  background-image: url(/multimedia/bermuda1b.jpg);
  background-position: center;
  background-size: cover;
}

.item2 {
  background-image: url(/multimedia/jean1a.jpg);
  background-position: center;
  background-size: cover;
}

.item3 {
  background-image: url(/multimedia/remera1b.jpg);
  background-position: center;
  background-size: cover;
}

.item4 {
  background-image: url(/multimedia/pantalon1v.jpg);
  background-position: center;
  background-size: cover;
}

.item5 {
  background-image: url(/multimedia/camisa1v.jpg);
  background-position: center;
  background-size: cover;
}

.item6 {
  background-image: url(/multimedia/buzo1g.jpg);
  background-position: center;
  background-size: cover;
}

.item7 {
  background-image: url(/multimedia/buzo2n.jpg);
  background-position: center;
  background-size: cover;
}

.item8 {
  background-image: url(/multimedia/remera2a.jpg);
  background-position: center;
  background-size: cover;
}

.item9 {
  background-image: url(/multimedia/short1n.jpg);
  background-position: center;
  background-size: cover;
}

.item10 {
  background-image: url(/multimedia/campera1v.jpg);
  background-position: center;
  background-size: cover;
}

.galeria-n {
  width: 75%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 600px 600px 600px;
}

.item11 {
  background-image: url(/multimedia/remera3n.jpg);
  background-position: center;
  background-size: cover;
}

.item12 {
  background-image: url(/multimedia/campera2n.jpg);
  background-position: center;
  background-size: cover;
}

.item13 {
  background-image: url(/multimedia/pantalon2n.jpg);
  background-position: center;
  background-size: cover;
}

.item14 {
  background-image: url(/multimedia/buzo2n.jpg);
  background-position: center;
  background-size: cover;
}

.item15 {
  background-image: url(/multimedia/short1n.jpg);
  background-position: center;
  background-size: cover;
}

.galeria-b {
  width: 75%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 600px 600px 600px;
}

.item16 {
  background-image: url(/multimedia/remera1b.jpg);
  background-position: center;
  background-size: cover;
}

.item17 {
  background-image: url(/multimedia/calzado1b.jpg);
  background-position: center;
  background-size: cover;
}

.item18 {
  background-image: url(/multimedia/pantalon3b.jpg);
  background-position: center;
  background-size: cover;
}

.item19 {
  background-image: url(/multimedia/bermuda1b.jpg);
  background-position: center;
  background-size: cover;
}

.item20 {
  background-image: url(/multimedia/remera4b.jpg);
  background-position: center;
  background-size: cover;
}

.galeria-a {
  width: 75%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 600px 600px 600px;
}

.item21 {
  background-image: url(/multimedia/remera2a.jpg);
  background-position: center;
  background-size: cover;
}

.item22 {
  background-image: url(/multimedia/buzo3a.jpg);
  background-position: center;
  background-size: cover;
}

.item23 {
  background-image: url(/multimedia/pantalon4a.jpg);
  background-position: center;
  background-size: cover;
}

.item24 {
  background-image: url(/multimedia/campera3a.jpg);
  background-position: center;
  background-size: cover;
}

.item25 {
  background-image: url(/multimedia/jean1a.jpg);
  background-position: center;
  background-size: cover;
}

.galeria-r {
  width: 75%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 600px;
}

.item26 {
  background-image: url(/multimedia/camisa2r.jpg);
  background-position: center;
  background-size: cover;
}

.item27 {
  background-image: url(/multimedia/);
  background-position: center;
  background-size: cover;
}

.item28 {
  background-image: url(/multimedia/);
  background-position: center;
  background-size: cover;
}

.item29 {
  background-image: url(/multimedia/);
  background-position: center;
  background-size: cover;
}

.item30 {
  background-image: url(/multimedia/);
  background-position: center;
  background-size: cover;
}

.galeria-v {
  width: 75%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 600px 600px 600px;
}

.item31 {
  background-image: url(/multimedia/short4v.jpg);
  background-position: center;
  background-size: cover;
}

.item32 {
  background-image: url(/multimedia/calzado2v.jpg);
  background-position: center;
  background-size: cover;
}

.item33 {
  background-image: url(/multimedia/campera1v.jpg);
  background-position: center;
  background-size: cover;
}

.item34 {
  background-image: url(/multimedia/pantalon1v.jpg);
  background-position: center;
  background-size: cover;
}

.item35 {
  background-image: url(/multimedia/camisa1v.jpg);
  background-position: center;
  background-size: cover;
}

.galeria-n {
  width: 75%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 600px;
}

.item36 {
  background-image: url(/multimedia/camisa3n.jpg);
  background-position: center;
  background-size: cover;
}

.item37 {
  background-image: url(/multimedia/);
  background-position: center;
  background-size: cover;
}

.item38 {
  background-image: url(/multimedia/);
  background-position: center;
  background-size: cover;
}

.item39 {
  background-image: url(/multimedia/);
  background-position: center;
  background-size: cover;
}

.item40 {
  background-image: url(/multimedia/);
  background-position: center;
  background-size: cover;
}

.galeria-g {
  width: 75%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 600px;
}

.item81 {
  background-image: url(/multimedia/buzo1g.jpg);
  background-position: center;
  background-size: cover;
}

.galeria-rem {
  width: 75%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 600px 600px;
}

.item41 {
  background-image: url(/multimedia/remera1b.jpg);
  background-position: center;
  background-size: cover;
}

.item42 {
  background-image: url(/multimedia/remera2a.jpg);
  background-position: center;
  background-size: cover;
}

.item43 {
  background-image: url(/multimedia/remera3n.jpg);
  background-position: center;
  background-size: cover;
}

.item44 {
  background-image: url(/multimedia/remera4b.jpg);
  background-position: center;
  background-size: cover;
}

.galeria-buz {
  width: 75%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 600px 600px;
}

.item46 {
  background-image: url(/multimedia/buzo1g.jpg);
  background-position: center;
  background-size: cover;
}

.item47 {
  background-image: url(/multimedia/buzo2n.jpg);
  background-position: center;
  background-size: cover;
}

.item48 {
  background-image: url(/multimedia/buzo3a.jpg);
  background-position: center;
  background-size: cover;
}

.item49 {
  background-image: url(/multimedia/buzo4v.jpg);
  background-position: center;
  background-size: cover;
}

.item50 {
  background-image: url(/multimedia/camisa1v.jpg);
  background-position: center;
  background-size: cover;
}

.galeria-camp {
  width: 75%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 600px 600px;
}

.item51 {
  background-image: url(/multimedia/campera1v.jpg);
  background-position: center;
  background-size: cover;
}

.item52 {
  background-image: url(/multimedia/campera2n.jpg);
  background-position: center;
  background-size: cover;
}

.item53 {
  background-image: url(/multimedia/campera3a.jpg);
  background-position: center;
  background-size: cover;
}

.galeria-jeans {
  width: 75%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 600px;
}

.item56 {
  background-image: url(/multimedia/jean1a.jpg);
  background-position: center;
  background-size: cover;
}

.galeria-pant {
  width: 75%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 600px 600px;
}

.item61 {
  background-image: url(/multimedia/pantalon1v.jpg);
  background-position: center;
  background-size: cover;
}

.item62 {
  background-image: url(/multimedia/pantalon2n.jpg);
  background-position: center;
  background-size: cover;
}

.item63 {
  background-image: url(/multimedia/pantalon3b.jpg);
  background-position: center;
  background-size: cover;
}

.item64 {
  background-image: url(/multimedia/pantalon4a.jpg);
  background-position: center;
  background-size: cover;
}

.galeria-shorts {
  width: 75%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 600px 600px;
}

.item66 {
  background-image: url(/multimedia/short1n.jpg);
  background-position: center;
  background-size: cover;
}

.item67 {
  background-image: url(/multimedia/short2b.jpg);
  background-position: center;
  background-size: cover;
}

.item68 {
  background-image: url(/multimedia/short3a.jpg);
  background-position: center;
  background-size: cover;
}

.item69 {
  background-image: url(/multimedia/short4v.jpg);
  background-position: center;
  background-size: cover;
}

.galeria-cal {
  width: 75%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 600px;
}

.item71 {
  background-image: url(/multimedia/calzado1b.jpg);
  background-position: center;
  background-size: cover;
}

.item72 {
  background-image: url(/multimedia/calzado2v.jpg);
  background-position: center;
  background-size: cover;
}

.galeria-accesorio {
  width: 75%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 600px 600px;
}

.item76 {
  background-image: url(/multimedia/accesorio1.jpg);
  background-position: center;
  background-size: cover;
}

.item77 {
  background-image: url(/multimedia/accesorio2.jpg);
  background-position: center;
  background-size: cover;
}

.item78 {
  background-image: url(/multimedia/accesorio3.jpg);
  background-position: center;
  background-size: cover;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 150px;
}

.foot1 {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}
.foot1 h4 {
  padding-bottom: 15px;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.foot1 a {
  padding-bottom: 5px;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}
.foot1 a:hover {
  color: darkgrey;
}

.foot2 {
  padding-top: 10px;
}
.foot2 .facebook {
  padding: 2px;
  font-size: 25px;
  color: blue;
}
.foot2 .instagram {
  padding: 2px;
  font-size: 25px;
  color: red;
}
.foot2 .whatsapp {
  padding: 2px;
  font-size: 25px;
  color: green;
}

/*# sourceMappingURL=estilos.css.map */
