@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Permanent+Marker&display=swap");
* {
  padding: 0;
  margin: 0;
}

header .head {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1px;
  height: 28px;
  border: 2px black;
  border-style: double;
  background-color: black;
}
header .head h2 {
  padding: 5px;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 15px;
  text-align: center;
}
header .head .redes {
  display: inline-flex;
}
header .head .redes .facebook {
  padding: 2px;
  font-size: 25px;
  color: blue;
}
header .head .redes .instagram {
  padding: 2px;
  font-size: 25px;
  color: red;
}
header .head .redes .whatsapp {
  padding: 2px;
  font-size: 25px;
  color: green;
}
header h1 {
  font-size: 60px;
  text-align: center;
  font-family: "Permanent Marker", cursive;
}

.navp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}
.navp nav a {
  color: black;
  padding: 20px;
  font-family: "Fredoka One", cursive;
  text-decoration: none;
}

.bannerp {
  margin: 50px;
  width: 1180px;
  height: 200px;
  background-image: url(/multimedia/bannerp.jpg);
  background-position: center;
  background-size: cover;
}

.sections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h3 {
  font-size: 50px;
  color: darkgoldenrod;
}

.navs {
  display: flex;
  flex-direction: column;
}
.navs a {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
  padding: 10px;
  text-decoration: none;
}
.navs a:hover {
  color: darkgoldenrod;
}

.color {
  display: flex;
  flex-direction: column;
}
.color a {
  padding: 2px;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 10px;
  text-decoration: none;
}

.negro {
  margin-top: 50px;
  border: 1px solid;
  border-color: black;
  text-align: center;
  width: 150px;
  height: 27px;
  background-color: black;
}
.negro a {
  color: white;
}
.negro a:hover {
  color: darkgoldenrod;
}

.blanco {
  margin-top: 50px;
  border: 1px solid;
  border-color: black;
  text-align: center;
  width: 150px;
  height: 27px;
  background-color: white;
}
.blanco a {
  color: black;
}
.blanco a:hover {
  color: darkgoldenrod;
}

.azul {
  margin-top: 50px;
  border: 1px solid;
  border-color: black;
  text-align: center;
  width: 150px;
  height: 27px;
  background-color: blue;
}
.azul a {
  color: rgb(255, 217, 0);
}
.azul a:hover {
  color: darkgoldenrod;
}

.rojo {
  margin-top: 50px;
  border: 1px solid;
  border-color: black;
  text-align: center;
  width: 150px;
  height: 27px;
  background-color: red;
}
.rojo a {
  color: rgb(0, 174, 255);
}
.rojo a:hover {
  color: darkgoldenrod;
}

.verde {
  margin-top: 50px;
  border: 1px solid;
  border-color: black;
  text-align: center;
  width: 150px;
  height: 27px;
  background-color: green;
}
.verde a {
  color: rgba(165, 54, 54, 0.712);
}
.verde a:hover {
  color: darkgoldenrod;
}

.naranja {
  margin-top: 50px;
  border: 1px solid;
  border-color: black;
  text-align: center;
  width: 150px;
  height: 27px;
  background-color: orange;
}
.naranja a {
  color: rgb(0, 255, 106);
}
.naranja a:hover {
  color: darkgoldenrod;
}

.galeria1 {
  width: 75%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 600px 600px 600px;
}

.item {
  margin: 10px;
}

.item1 {
  background-image: url(/multimedia/bermuda1.jpg);
  background-position: center;
  background-size: cover;
}

.item2 {
  background-image: url(/multimedia/jean1.jpg);
  background-position: center;
  background-size: cover;
}

.item3 {
  background-image: url(/multimedia/remera1.jpg);
  background-position: center;
  background-size: cover;
}

.item4 {
  background-image: url(/multimedia/pantalon1.jpg);
  background-position: center;
  background-size: cover;
}

.item5 {
  background-image: url(/multimedia/camisa1.jpg);
  background-position: center;
  background-size: cover;
}

.item6 {
  background-image: url(/multimedia/buzo1.jpg);
  background-position: center;
  background-size: cover;
}

/*# sourceMappingURL=estilos.css.map */
