@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Permanent+Marker&display=swap');







*{
    padding: 0;
    margin: 0;
}
header{
    h2{
        margin: 1px;
        padding: 5px;
        height: 20px;
        background-color: black;
        color: white;
        border: 2px black;
        border-style: double;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 15px;
        text-align: center;
    }
    h1{
        font-size: 60px;
        text-align: center;
        font-family: 'Permanent Marker', cursive;
    }
}
.navp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    nav a{
        color: black;
        padding: 20px;
        font-family: 'Fredoka One', cursive;
        text-decoration: none;
    }
}
.bannerp{
    margin: 50px;
    width: 1180px;
    height: 200px;
    background-image: url(/multimedia/bannerp.jpg);
    background-position: center;
    background-size: cover;
}
.sections{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
aside h3{
    font-size: 50px;
    color: darkgoldenrod;
}
.navs{
    display: flex;
    flex-direction: column;
    a{
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: black;
        padding: 10px;
        text-decoration: none;
    }
    a:hover{
        color: darkgoldenrod;
    }
}
.galeria1{
    width: 80%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 600px 600px 600px;
}
.item{

    margin: 10px;
}
.item1{
    background-image: url(/multimedia/bermuda1.jpg);
    background-position: center;
    background-size: cover;
}
.item2{
    background-image: url(/multimedia/jean1.jpg);
    background-position: center;
    background-size: cover;
}
.item3{
    background-image: url(/multimedia/remera1.jpg);
    background-position: center;
    background-size: cover;
}
.item4{
    background-image: url(/multimedia/pantalon1.jpg);
    background-position: center;
    background-size: cover;
}
.item5{
    background-image: url(/multimedia/camisa1.jpg);
    background-position: center;
    background-size: cover;
}
.item6{
    background-image: url(/multimedia/buzo1.jpg);
    background-position: center;
    background-size: cover;
}




